@import '~stylesheets/variables.scss';

.popularItemsContainer {
  display: flex;
  flex-wrap: wrap;
  a {
    flex: 0 calc(50% - 10px);
    border: 1px solid $color-light-gray;
    margin: 5px;
    padding: 10px;
    border-radius: 0.5rem;
    color: #000;
  }
  a:hover {
    text-decoration: none;
    background-color: $color-lighter-gray;
  }
}
