@import './variables.scss';
@import './defaults.scss';
@import './themes.scss';
@import './cards.scss';
@import './forms.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**
* Structure
*
* The main styles for html and body tags
*/

html {
  font-size: 10px;
  overflow-wrap: break-word;

  @media (max-width: 1280px) {
    font-size: 9px;
  }

  @media (max-width: 800px) {
    font-size: 8px;
  }

  @media (max-width: 480px) {
    font-size: 7px;
  }
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

body {
  position: relative;

  margin: 0;

  color: var(--app-theme-color-text);

  padding-top: 7rem;

  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6em;
  letter-spacing: 0.0125em;

  background-color: var(--app-theme-color-background);

  transition: $motion-default;
  transition-property: color, background-color;

  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

hr {
  border: 0;
  border-top: 1px solid;
  border-color: $color-light-gray;
}

a {
  color: $color-light-blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

.app {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100%;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
