@import '~stylesheets/variables.scss';

.eventCard {
  display: flex;
  border-bottom: 1px solid $color-light-gray;
  padding: 10px 0;
}

.eventCard__info {
  flex: 2.5;
  border-right: 1px solid $color-light-gray;
  padding: 10px;

  h4 {
    margin: 0;
  }

  h5 {
    margin: 5px 0 20px 0;
    font-weight: normal;
    font-size: 1.5rem;
  }

  p {
    font-size: 1.4rem;
  }
}

.eventCard__btn {
  flex: 1;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
